run = "python3 main.py"
language = "python3"
modules = ["python-3.11"]

[interpreter]
command = ["python3", "-u", "main.py"]

[nix]
packages = ["python39Packages.gunicorn"]

[[ports]]
localPort = 443
externalPort = 3000

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080
